html, body, .wrapper
{  
background-size: cover;  
font-family: sans-serif;  
margin: 0;
padding: 0;
width: 100%;
}  
h3{
font-size:24px;
font-weight:bold;
padding-top:1%;
text-align: center;
}
header{
    height:50px;
    background: black;
    color: white;
    position: relative;
    line-height: 50px;
    padding: 0 20px;
}

button{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
  }



header .nav{
    position: absolute;
    height: 50px;
    right:0;
    top:0;
    display: flex;

}
header .nav a {
    text-decoration: none;
    font-size: 14px;
    color: white;
    padding:10px;
    margin: 0 5px;
    line-height: 30px;
}
header .nav a:hover{
    cursor: pointer;
    color: #FFAD01;
}

.container{
    width: 100%;
    font-size: 0;

}
.banner{
    display: inline-block;
    width: 70%;
}
.banner img{
    width: 100%;
}
aside{
    display: inline-block;
    width: 30%;
    font-size: 18px;
    vertical-align: center;
    padding-top:10%;
}
.mySlides img{
    width: 100%;
}
aside{
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.container.chart-container{
    display: inline-block;
}
.banner-chart {
    width: 40%;
    display: inline-block;

}
.banner-chart canvas{
    width: 100%;

}
.desc-chart{
    display: inline-block;
    width: 40%;
    font-size: 18px;
    padding:3%;
}
p{
    font-size: 18px;
    padding: 5px;

}
.about-us-summary h2{
    font-size: 25px;
    font-weight: bold;
}
.container.about-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.person{
    display: flex;
    justify-content: flex-start;
    width: 80%;
    padding: 2%;
    /* border: 1px solid ; */
    margin: auto;
    margin-bottom: 20px;
    color: black;
}


.person img{
    width: 150px;
    height: 150px;
}

.person .about{
    font-size: 10px;
    padding: 10px;
    line-height: 20px;

}

.person p{
    width:100%
}
.container.products-container{
    display: block;
    margin: 10px;
    margin-bottom: 100px;
}

.products{
/*
    margin: 3%;
*/ padding:5px;
    display: flex;
    border: 1px solid lightgrey;
}

.products .button-container{
    margin-top: 5%;
    font-size: medium;
     font-weight:500 ;
}

.cart-row{
    float: right;
    padding-right: 5%;
}


.products img{
    width: 300px;
        height: 300px;
}

.products .about{
text-align: left;
font-size: 18px;
padding: 5%; 
line-height: 20px;
/* background-color: blanchedalmond; */
}
.container-chart{
    display: block;
    width: 50%;
    height: 50%;
}

.contact .about{
    display: flex;
    justify-content:space-around;
    width: 80%;
    padding: 2%;
    /* border: 1px solid ; */
    margin: auto;
    margin-top: 20px;
    color: black;
}
.about img{
    width: 100px;
    height: 100px;
}

footer{ 
    text-align: center; 
    background: black; 
    color: #ddd; 
    height: 20px ;
    padding:1%;
    position: fixed;
    bottom: 0%;
    width: 100%;
    
}

footer .hire-btn{ 
    padding: 0.5% 0.5%; 
    border-radius: 4px; 
    margin: 50px;
	box-shadow: inset 0 0px 4px rgba(0,0,0,.3); 
    background: #FFAD01; 
    color: #fff;
	-webkit-transition: all .2s ease; transition: all .2s ease; text-decoration: none;}

footer .hire-btn:hover{ 
    background-color: #fff; 
    color: black; }

    /* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    align-items: center;
  }
  
  .modal-details h4,button,p{
    text-align: center;
  }

  .productForm input[type=text],input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .buttonContainer{
    text-align: end;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
    
  

@media only screen and (max-width: 780px) {
banner, aside {
    width: 100%;
}
.desc-chart{
    width: 100%;

}
 h2,a{
        font-size: 12px;
    }
    header{
        height:auto;
        background: black;
        color: white;
        position: relative;
        line-height: 30px;

    }
header .nav{
    position: static;
}
header .nav a {
    text-decoration: none;
    font-size: 14px;
    color: white;
    padding: 3px;
    margin: 0;
}
.products img{
align-self:center;
    width: 150px;
    height: 150px;
}.person img{
    width: 100px;
    height: 100px;
}
.about img{
   width: 100px;
      height: 100px;
}
.banner-chart{
    width: 100%;
}

.products,.person{
    flex-direction: column;
}
.container.about-container{
    flex-direction: column;
}
.container.chart-container{
    flex-direction: column;
}
.mySlides img{
    width: 100%;
}
.contact .about{
    flex-direction: column;
}
canvas{
width:500px;}

}
