html, body, .wrapper
{  
background-size: cover;  
font-family: sans-serif;  
margin: 0;
padding: 0;
width: 100%;
}

header{
    height:50px;
    background: black;
    color: white;
    position: relative;
    line-height: 50px;
    padding: 0 20px;
}
header h2{
    font: 18px;

}
header .nav{
    position: absolute;
    height: 50px;
    right:0;
    top:0;
    display: flex;

}
header .nav a {
    text-decoration: none;
    font-size: 14px;
    color: white;
    padding:10px;
    margin: 0 10px;
    line-height: 50px;
}
header .nav a:hover{
    cursor: pointer;
    background-color: goldenrod;
}

.container{
    width: 100%;
    font-size: 0;

}
.banner{
    display: inline-block;
    width: 70%;  
}
.banner img{
    width: 100%;
}
aside{
    display: inline-block;
    width: 30%;
    font-size: 18px;
    vertical-align: top;
}
/* chart */
.container.chart-container{
    display: inline-block;
}
.banner-chart {
    width: 40%;
    display: inline-block;

}.banner-chart canvas{
    width: 100%;

}
.desc-chart{
    display: inline-block;
    width: 50%;
    font-size: 18px;
    vertical-align: top;
    padding-left: 10%;
}
p{
    font-size: 18px;
}
p.about-us-summary{
    padding: 10px;
}
.container.about-container{
    display: flex;
}
.person{
    margin: 20px;
    display: flex;
    padding: 10px;
    width: 50%;
}

.person img{
    width: 100px;
}
.person .about{
font-size: 10px;
padding: 10px;
line-height: 20px;


}
.container.products-container{
    display: block;
}
.products{
    margin: 20px;
    display: flex;
    padding: 10px;
}

.products img{
    width: 200px;
}
.products .about{
font-size: 10px;
padding: 10px;
line-height: 20px;
}
.container-chart{
    display: block;
    width: 50%;
    height: 50%;

}
h1{
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
  
}h3{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
  
}

@media only screen and (max-width: 780px) {
.banner, aside, .banner-chart {
    width: 100%;
}
.container.about-container{
    flex-direction: column;
}
.products img{
    width: 100px;
    height: 100px;
}
.container.products-container{
    flex-direction: column;
}
.container.chart-container{
    flex-direction: column;
    padding: 5px;

}
header .nav{
    width: 100%;
}
header .nav a {
padding: 2px;
}
textarea{
    width: 200px;
}
}
